body {
  background-color: black;
  color:white;
}

p {
  color: #98C0F5;
  margin-left: 20px;
  font-size:21px;
  
  

}
p:first-letter {
  
  font-family: Georgia;
  initial-letter: 1.5;
}

div
{
	width: 80vw;
}
a:link { color: red; text-decoration:none;}
a:hover { color: orange;  text-decoration:underline;}

.myInfo{
color:#F9FE66;
font-weight:bold;

animation: blinker 1s linear infinite;
}

@keyframes blinker {
50% {
opacity: 0;
}
}
	


#myName

{
	  font-size:50px;
	 text-shadow:-4px 9px orange;
	 color:black;
}
#myBio
{
	font-size:18px;
	text-align: justify;
	word-spacing:2px;
	font-family:Arial Black, Verdana, Trebuchet MS,Georgia;
}